.color-red {
    color:red;
    font-weight: bold;
    font-size: 1.1em;
}

.color-red-data {
    color:red;
}

.color-green {
    color:limegreen;
    font-weight: bold;
    font-size: 1.1em;
}

.table-scroll {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
}